<div>
  <div>
    <h2>Welcome {{username}}, here are your posts!</h2>
  </div>
  <div>
    {{#each blogposts}}
    {{> blogpost}}
    {{/each}}
  </div>
  <div>
  <button class="btn" id="create-btn">NEW POST</button>
  </div>
</div>