/*
Pink: #f42069
Green: #b4da55  
*/

nav {
    background: #b4da55;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 0.5em;
}

.btn {
    background: #f42069;
    color: white;
    padding: 0.5rem;
    display: block;
    width: fit-content;
    
}

.blogpost {
    border: 1px #f42069 solid;
    width: 75%;
    margin: 1rem auto;
    padding: 1rem;
}
.blogpost:hover {
    background-color: thistle;
}
